.i-phone-13-pro-max {
    color: #1e1e1e;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 39px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Roboto, Arial;
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 20px;
    display: flex;
  }
  
  .left-arrow {
    width: 30px;
    height: 30px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 6px;
  }
  
  .restaurant-name-instance-1 {
    width: 45%;
    flex-basis: 6%;
    margin-bottom: 1px;
    margin-left: 2px;
  }
  
  .num-7-th-sandwich-stre {
    margin-bottom: 3px;
    margin-left: 7px;
    font-size: 1rem;
    line-height: 22px;
  }
  
  .flex-container {
    text-align: center;
    color: #3e3a3a;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: flex-end;
    margin-bottom: 5px;
    display: flex;
  }
  
  .pizza {
    margin-left: 1px;
  }
  
  .frame-1 {
    width: 399px;
    height: 3px;
    object-fit: cover;
    align-self: center;
    margin-top: 1px;
    margin-bottom: 2px;
  }
  
  .frame-22-instance-1 {
    width: 100%;
    margin-top: 1px;
  }
  
  .frame-23-instance {
    width: 100%;
  }
  
  .frame-24-instance {
    width: 100%;
    margin-bottom: 1px;
  }
  
  .flex-container-1 {
    color: #fff;
    width: 100%;
    flex-direction: column;
    flex-basis: 11%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-bottom: -1px;
    padding-bottom: 1px;
    font-size: 1.5rem;
    line-height: 28px;
    display: flex;
  }
  
  .frame-25-instance {
    width: 100%;
    flex-basis: 100%;
    margin-top: -1px;
    margin-bottom: -99px;
  }
  
  .cat-absolute-container {
    z-index: 1;
    width: 100%;
    flex-direction: row;
    flex-basis: 99%;
    justify-content: center;
    align-items: flex-end;
    padding-top: 4px;
    display: flex;
  }
  
  .frame-32 {
    height: 75%;
    background-color: #ce5252;
    flex-direction: row;
    flex-basis: 104%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-left: -8px;
    margin-right: -193px;
    padding-left: 10px;
    padding-right: 12px;
    display: flex;
  }
  
  .shopping-cart {
    width: 35px;
    height: 35px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .checkout, .num-4000 {
    margin-bottom: 1px;
  }
  